body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh; /* 100% of viewport height */
}

.column {
  flex: 1; /* Equal width for both columns */
  padding: 20px;
  border: 1px solid #ccc; /* Optional border for clarity */
}

h1,
h2 {
  font-family: Lato;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}
/* You can add more styles to the .column class as needed */
